/viikko1/NhlStatistics1/.nb-gradle/
/viikko2/tehtavat9-12/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat9-12/Verkkokauppa1/build/
/viikko3/tehtavat1-3/nhlreader/.nb-gradle/
/viikko3/tehtava4/HelloCucumber/.nb-gradle/
/viikko3/tehtava4/HelloCucumber/build/
/viikko3/tehtavat5-6/LoginCucumber/.nb-gradle/
/viikko3/tehtavat5-6/LoginCucumber/build/