/viikko1/NhlStatistics1/.nb-gradle/
/viikko2/tehtavat9-12/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat9-12/Verkkokauppa1/build/
/viikko3/tehtavat1-3/nhlreader/.nb-gradle/
/viikko3/tehtava4/HelloCucumber/.nb-gradle/
/viikko3/tehtava4/HelloCucumber/build/
/viikko3/tehtavat5-6/LoginCucumber/.nb-gradle/
/viikko3/tehtavat5-6/LoginCucumber/build/
/viikko4/tehtava1/MockitoDemo/.nb-gradle/
/viikko4/tehtava1/MockitoDemo/build/
/viikko4/tehtava2/MaksukorttiMockito/.nb-gradle/
/viikko4/tehtava2/MaksukorttiMockito/build/
/viikko4/tehtava3/Verkkokauppa/build/
/viikko4/tehtava3/Verkkokauppa/.nb-gradle/
/viikko4/tehtava5/IntJoukkoSovellus/.nb-gradle/
/viikko4/tehtava5/IntJoukkoSovellus/build/
/viikko4/tehtava6/Tennis/.nb-gradle/
/viikko4/tehtava6/Tennis/build/
/viikko5/tehtavat4-5/LaskinFX8/.nb-gradle/
/viikko6/tehtavat2-5/QueryLanguage/.nb-gradle/
/viikko6/tehtavat2-5/QueryLanguage/build/